@tailwind base;
@tailwind components;
@tailwind utilities;

/* input date 클릭 범위 조절 */
input::-webkit-calendar-picker-indicator {
  position: absolute;
  right: 10px;
  padding-left: 500px;
  padding-right: 15px;
  padding: 8px 15px 8px 500px;
  font-size: 22px;
  cursor: pointer;
}

@layer components {
  .center {
    @apply -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2;
  }
  .contentList {
    @apply relative flex items-center justify-between px-5 py-2 border border-gray-300 rounded-lg bg-gray-50;
  }
  .modalStyle {
    @apply absolute left-0 w-full p-4 transition-all duration-700 ease-in-out bg-white rounded-lg -bottom-full h-2/3;
  }
  .modalTypeName {
    @apply px-1 font-semibold;
  }
  .modalInput {
    @apply w-full p-2 border rounded-lg;
  }
  .modalButton {
    @apply w-full py-2 border rounded-lg hover:bg-indigo-500 hover:text-white;
  }
  .mainButton {
    @apply px-2 py-1 text-gray-500 border border-gray-400 rounded-lg hover:bg-gray-500 hover:text-white;
  }
}
