@tailwind base;
@tailwind components;
@tailwind utilities;

/* input date 클릭 범위 조절 */
input::-webkit-calendar-picker-indicator {
  position: absolute;
  right: 10px;
  padding-left: 500px;
  padding-right: 15px;
  padding: 8px 15px 8px 500px;
  font-size: 22px;
  cursor: pointer;
}

@layer components {
  .center {
    @apply top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2;
  }
  .modalUp {
    @apply animate-[modal-up_500ms_ease-in-out];
  }
  .modalDown {
    @apply animate-[modal-down_500ms_ease-in-out];
  }
  .modalTypeName {
    @apply px-1 font-semibold;
  }
  .modalInput {
    @apply w-full border rounded-lg p-2;
  }
  .modalButton {
    @apply w-full border rounded-lg py-2 hover:bg-indigo-500 hover:text-white;
  }
}
